<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-12 text-md-center text-left">
                <p class="copyright">
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    Todos los derechos reservados | Este sitio fue creado por
                    <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                    <a href="mailto:abermudez9102827@gmail.com" target="_blank">Alejandro Bermúdez Espinosa</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- END footer -->