{% extends 'registro_app/base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-5 mb-2 element-animate">
    <div class="col-md-8 text-center">
      <h2 class="heading mb-4">{{ zona.nombre}}</h2>
    </div>
    <div class="col-md-12 text-right"></div>
  </div>

  <div class="row justify-content-center mt-5 mb-2 element-animate">
    <div class="col-md-6 text-center order-2 card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ zona.nombre}}</h5>
        <p class="card-text">
          {% for objeto in zona.objetos.all %} 
          <a href="{% url 'objeto_view' objeto.id %}">
          {{ objeto.nombre}}</a><br/> 
          
          {% endfor %}
        </p>
        <div class="block">
          <form method="GET" action="{% url 'zona_edit' zona.id %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Editar</button>
          </form>
          <form method="POST" action="{% url 'zona_delete' zona.id %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
