{% extends 'registro_app/base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-5 mb-2 element-animate">
    <div class="col-md-8 text-center">
      <h2 class="heading mb-4">Especialidades</h2>
    </div>
    <div class="col-md-12 text-right">
      <a class="btn btn-success" href="{% url 'especialidad_new' %}">Nueva</a>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-2 element-animate">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        {% for especialidad in especialidades %}

        <tr>
          <th>
            <a href="{% url 'especialidad_view' especialidad.id %}">{{especialidad.id}}</a>
          </th>
          <td>
            <a href="{% url 'especialidad_view' especialidad.id %}">{{especialidad.nombre}}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
